<li class="nav-link"><a href="{{ site.baseurl }}/">דף הבית</a></li>

<li class="nav-link more"><a href="javascript:void(0)">אלטרנטיבות ▾</a>
  <ul class="submenu">
    <li><a href="{{ site.baseurl }}/alternatives/kitchen/">מטבח</a></li>
    <li><a href="{{ site.baseurl }}/alternatives/living-room/">סלון</a></li>
    <li><a href="{{ site.baseurl }}/alternatives/laundry/">כביסה</a></li>
    <li><a href="{{ site.baseurl }}/alternatives/yard/">חצר</a></li>
  </ul>
</li>

<li class="nav-link"><a href="{{ site.baseurl }}/articles/">כתבות</a></li>
<li class="nav-link"><a href="{{ site.baseurl }}/products/">מוצרים</a></li>
<li class="nav-link"><a href="{{ site.baseurl }}/reviews/">ביקורות מוצרים</a></li>
